.form-content{
    width: 48%;
    padding: 5em 3em 3em 3em;
}
.calculator{
    width:100%;
    height: 5.5em;
    text-align: right;
    padding: 2em;
    background-color:rgb(230, 230, 230);
    position:fixed;
    bottom: 0
    ;
}

.product{
    width: 50%;
    height: 50%;
    padding: 2em;
    z-index: 1;
    border: 2px solid rgb(230, 230, 230);
    background-color: white;
    border-radius: 2em 0px 0px 2em;
    box-shadow:-20px 20px 20px rgb(202, 202, 202); 
    position: fixed;
    right:0;
    top: 20%;
}

@media only screen and (max-width: 800px){
    .grid-container{
        display: inline;
    }
    .form-content{
        width: 100%;
        text-align: center;
        padding-top: 35vw;
    }

    .product{
        width: 100%;
        text-align: center;
        align-content: center;
        height: 35vw;
        border-radius: 0em 0em 2em 2em;
        box-shadow:0px 20px 20px rgb(202, 202, 202); 
        border:0px;
        top:55px;
    }

}