.form-content{
    width: 48%;
    padding: 5em 3em 6em 3em;
}
.calculator{
    width:100%;
    height: 5.5em;
    text-align: right;
    padding: 2em;
    background-color:rgb(230, 230, 230);
    position:fixed;
    bottom: 0
    ;
}

.product-panel{
    width: 50%;
    height: 50%;
    padding: 2em;
    z-index: 1;
    border: 2px solid rgb(230, 230, 230);
    background-color: white;
    border-radius: 2em 0px 0px 2em;
    box-shadow:-20px 20px 20px rgb(202, 202, 202); 
    position: fixed;
    right:0;
    top: 20%;
}
.product{
    height: 100%;
    width: 78%;
}
.product-render{
    position:absolute;
    
    height: 100%;
    width: 100%;
}
.order-numbers{
    position: absolute;
    bottom: 0;
    right:1em;
    width: 20%;
}

/* hover messages start */
/* BUG -- only works when hovering over radtio button, OLIVIA revisit this for more efficiency*/
input[value='nocard']{
    position: relative;
}
input[value='nocard']::after{
    content:attr(data-tool-tip);
    position: absolute;
    top: 2em;
    background-color: darkgrey;
    display: block;
    padding: .5em .5em;
    white-space: nowrap;
    font-size: .8em;
    transform: scale(0);
    transition:transform ease-out 100ms;
}

input[value='nocard']:hover::after{
    transform: scale(1);
}
/* hover messages end */


/* accessability start*/
input {
    border-color: lightgray;
    border-style: solid;
    margin-bottom: 1em;
}

button {
    border-radius:6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

legend {
    padding-right: .3em;
}

fieldset div {
    padding-bottom: .6em;
}

input:focus {
    outline:none;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=search] {
    box-sizing: border-box;
    display: inline-block;
    border-width: 3px;
    border-color: lightgray;
}

input[type=number] {
    width: 4em;
    height: 2em;
}

input[type=file] {
    border:none;
}

.policytext p {
    font-size: 8pt;
    padding: 0;
    margin: 0;
}

.policytext a {
    text-decoration: none;
}

.ordertotal {
    font-weight: bold;
}


/* Give the user a hint that label is clickable */
label {
    cursor: pointer;
    width: 100%;
}

/* Provide visual confirmation of the current field */
label:focus-within {
    color: rgb(44, 21, 126);
}
/* Help users distinguish the field the mouse is over */
input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=password]:hover {
    border-color: darkblue;
    box-sizing: border-box;
    display: inline-block;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=password]:focus {
    border-color: darkblue;
}

/* Make the highlighted access key stand out */
.accesskey {
    text-decoration: underline;
}
/* accessability end*/


@media only screen and (max-width: 800px){
    .grid-container{
        display: inline;
    }
    .form-content{
        width: 100%;
        text-align: center;
        padding-top: 35vw;
    }

    .product-panel{
        width: 100%;
        text-align: center;
        align-content: center;
        height: 35vw;
        border-radius: 0em 0em 2em 2em;
        box-shadow:0px 20px 20px rgb(202, 202, 202); 
        border:0px;
        top:55px;
    }
    .order-numbers{
        position: relative;
        left:0;
        right:0;
        width: auto;
    }

    .product{
        height: auto;
        width: auto;
    }

}